<div class="buttons-wrapper">
    <a href="/" class="logo">Waste Bin</a>
    <div class="buttons">
        <a href="/new" class="btn">NEW</a>
        <% if (locals.canSave) { %>
        <button class="btn" type="submit">save</button>
        <% } %>
        <% if (locals.id != null) { %>
            <a href="/<%= locals.id %>/duplicate" class="btn">Duplicate</a>
            <% } %>
    </div>
</div>